language: android
jdk: oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.2
    - android-25
    - extra-android-m2repository
    - extra-android-support
    - extra

  licenses:
    - 'android-sdk-license-.+'
    - 'android-sdk-preview-license-.+'
    - 'android-extra-license-.+'
    - 'intel-android-extra-license-.+'

before_install:
  - chmod +x gradlew

notifications:
email: false

script: ./gradlew build